<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Esther's TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em">
      <% if (user) { %>
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center" scope="col">Short URL ID</th>
            <th class="text-center" scope="col">Long URL</th>
            <th class="text-center" scope="col">Date Created</th>
            <th class="text-center" scope="col">Visits</th>
            <th class="text-center" scope="col">Unique Visits</th>
            <th class="text-center" scope="col">Edit</th>
            <th class="text-center" scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for (let id in urls) { %>
          <tr>
            <td class="text-center"><%= id %></td>
            <td class="text-center"><%= urls[id].longURL %></td>
            <td class="text-center"><%= urls[id].createdDate %></td>
            <td class="text-center"><%= urls[id].visitCount %></td>
            <td class="text-center"><%= urls[id].uniqueVisits.length %></td>
            <td class="text-center">
              <form method="GET" action="/urls/<%= id %>">
                <button type="submit" class="btn btn-outline-primary">
                  Edit
                </button>
              </form>
            </td>
            <td class="text-center">
              <form method="POST" action="/urls/<%= id %>?_method=DELETE">
                <button type="submit" class="btn btn-outline-danger">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %> <%- include('partials/_error') %> <% } %>
    </main>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
